# ElmapiCMS Configuration
# Get your Project ID from the project's Settings > API Access page in ElmapiCMS
ELMAPI_PROJECT_ID=
ELMAPI_API_URL=http://localhost:8000/api
ELMAPI_IMAGE_HOST=localhost:8000

# Optional: If your API is private, add your API key
# ELMAPI_API_KEY=your_api_key_here
